.slider {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth !important;
}
.slider::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
    scroll-behavior: smooth !important;
}
